

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: darkgray;
    height: 40px;
}

h1 {
    text-align: center;
}

#content {
    border: 2px solid black;
}